* {
    border: 0;
    margin: 0;
    bottom: 0;
}

                                                          /* Header */

#header {
    background-color: #01559B;
    width: 100%;
    height: 100px;
}

#header img {
    width: 30%;
    margin-top: -60px;
}

                                                           /* Section */

#title h1 {
    margin-top: 40px;
    text-align: center;
}

#title hr {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #dae0e5;
    border-bottom: 1px solid #dae0e5;
    margin-bottom: 5%;
}

#section p {
    margin-bottom: 2em;
}

#section .legend-button {
    width: 37%;
    margin-top: 2.4em;
    display: inline-block;
    font-size: 19px;
}

#section button {
    width: 50%;
    display: block;
    float: right;
    margin-top: 3.7em;
    padding-top: 1em;
    padding-bottom: 1em;
}

                                                            /* Graph */


#graphic {
    display: none;
} 

#graphic h2 {
    margin-top: 2em;
    margin-bottom: 3em;
}

#graphic .cols-th {
    height: 3em;
    display: inline-block;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
#graphic .cols-th:last-child {
    border-right: none;
}
#graphic .cols-th p {
    text-align: center;
    line-height: 45px;
    margin-bottom: 0;
    font-weight: bolder;
}

#graphic .cols-th .porcent-line {
    position: absolute;
    left: -7%;
    top: -90%;
}

#graphic .cols-td {
    height: 3em;
    display: inline-block;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
#graphic .cols-td:last-child {
    border-right: none;
}
#graphic .cols-td p {
    text-align: center;
    line-height: 45px;
    margin-bottom: 0;
}

#graphic .cols-td-bars {
    height: 3em;
    display: inline-block;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 0;
}

#graphic .bars-graph {
    position: absolute;
    height: 2em;
    background-color: #0e5c69;
    left: 0;
    bottom: 15%;
    z-index: 1;
    width: 1%;
}

#graphic .bars-graph:hover {
    background-color: #0e5c69f2;
}


#graphic .line:last-child {
    margin-bottom: 4em;
}

#graphic .national-average {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -1.2%;
    margin-right: -1.2%;
}

#graphic .national-average .av-total-title,#graphic .national-average .av-total-porc {
    height: 3em;
    display: inline-block;
}

#graphic .national-average .av-total-title:hover, #graphic .national-average .av-total-porc:hover {
    background-color: #f1f2f6;
}

#graphic .national-average .av-total-title p,#graphic .national-average .av-total-porc p {
    text-align: center;
    line-height: 1.8em;
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 0;
}

#graphic .national-average .av-total-porc {
    border-left: 3px solid #000;
}



                                                         /* Footer */

#footer {
    border-top: 3px solid red;
    background-color: #071f38;
    width: 100%;
    height: 5.5em;
}

#footer .left img {
    width: 20%;
    margin-top: 10px;
}

#footer .left h5 {
    color: #fff;
    font-size: 16px;
    margin-left: 8px;
    margin-top: 7px;
}

#footer .right {
    float: right;
    margin-top: -65px;
}

#footer .right h6 {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

#footer .right small {
    color: #6c757dbd;
    font-size: 70%;
}






/* Outros */

.btn-back-top {
    width: 5%;
    height: 4em;
    border-radius: 60%;
    position: fixed;
    right: 1%;
    bottom: 7%;
    outline: none;
    display: none;
}

.btn-back-top .fas {
    color: #0e5c69;
    font-size: 50px;
}

.btn-back-top:hover i {
    color: #fff;
}

.tooltip-body {
    width: 5em;
    height: 50px;
    background-color: #000000cf;
    position: fixed;
    right: 0.5em;
    bottom: 20%;
    border-radius: 10px;
    display: none;
}

.tooltip-body p {
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 145%;
    padding-top: 7%;
}

footer .right .btn-back-top-footer {
    width: 23%;
    height: 4em;
    border-radius: 60%;
    outline: none;
    display: none;
    position: relative;
    left: 110%;
    margin-top: -21%;
}

footer .right .btn-back-top-footer .fas {
    font-size: 50px;
    color: #fff;
}

footer .right .btn-back-top-footer:hover i {
    color: #071f38;
}

footer .right .tooltip-footer {
    width: 5em;
    height: 50px;
    background-color: #000000cf;
    position: fixed;
    right: 0.5em;
    bottom: 15%;
    border-radius: 10px;
    display: none;
}

footer .right .tooltip-footer p {
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 145%;
    padding-top: 7%;
}